html {
    overflow-y: scroll;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

footer {
    text-align : center;
}

a[role="button"] {
    color: white !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.erreur, .notif {
    margin: 20px;
    width: intrinsic; /* Safari/WebKit utilisent un nom non-standard */
    width: -moz-max-content; /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
    padding: 15px;
    background-color: #fafafa;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}

.modals {
    z-index: 1000000000;
    position: fixed;
    right: 0;
    top: 0;
}

.panel-body .btn:not(.btn-block) {
    width: 20%;
    margin-bottom: 10px;
}

.panel {
    margin-top: 40px;
    text-align: center;
}