@{
    ViewBag.Title = "Accueil";
}

<div class="jumbotron">
    <h1>FFN Compétitions</h1>
    <p class="lead">La natation synchronisée, une discipline artistique très spectaculaire et particulièrement exigeante. Considérée comme l'une des rares disciplines uniquement féminine des Jeux Olympiques. En France, ce sport est pratiqué dans près de 300 clubs.</p>
    <p>La gestion des compétitions étant fastidieuse, la FFN (Fédération Française de Natation) s'est doté de ce site web pour les gérer.</p>
</div>