@using ffn_site.Models;
@{
    ViewBag.Title = "Gestion de compétition";
}

<div class="container">
    <div class="row">
        <h2>Gestion des compétitions</h2>
        <a href="#">Ajout</a>
        <ul id="listeCompetitions">
            <li>comp 1 + infos</li>
            <li>comp 2 + infos</li>
            <li>comp 3 + infos</li>
            <li>comp 4 + infos</li>
        </ul>
    </div>
</div>