@using ffn_site.Models;
@{
    ViewBag.Title = "Gestion de compétition";
}
    
@section scripts {
    <script>
        $( function() {
            $(".accordion").accordion({
            active: false,
            collapsible: true
        });
        } );
    </script>
}

<div class="container">
    <div class="row">
        <h2>Types catégories</h2>
        <div class="accordion col-lg-8">
            <h3>Catégories de compétitions</h3>
            <ul>
                @foreach (CategorieCompetition catComp in ViewBag.catsComp)
                {
                    <li>@catComp.lbl</li>
                }
            </ul>
            <h3>Catégories de tours</h3>
            <ul>
                @foreach (CategorieTour catTour in ViewBag.catsTour)
                {
                    <li>@catTour.lbl</li>
                }
            </ul>

            <h3>Catégories d'épreuves</h3>
            <ul>
                @foreach (CategorieEpreuve catEpreuve in ViewBag.catsEpreuve)
                {
                    <li>@catEpreuve.lbl</li>
                }
            </ul>
            <h3>Catégories de ballets</h3>
            <ul>
                @foreach (CategorieBallet catBallet in ViewBag.catsBallet)
                {
                    <li>@catBallet.lbl</li>
                }
            </ul>
        </div>
    </div>

    <div class="row">
        <h2>Gestion des compétitions</h2>
        <a href="#">Ajout</a>
        <ul id="listeCompetitions">
            <li>comp 1 + infos</li>
            <li>comp 2 + infos</li>
            <li>comp 3 + infos</li>
            <li>comp 4 + infos</li>
        </ul>
    </div>
</div>