@{
    ViewBag.Title = "Administration";
}

<div class="container">
    <ul>
        <li>Gestion Utilisateurs</li>
        <li>@Html.ActionLink("Gestions des compétitions", "Competition", "Admin")</li>
        <li>Gestion clubs / nageurs</li>
    </ul>
</div>